<!DOCTYPE html>
<html lang="en">
<head>
    <title>Авторизация</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="../server/css/login.css">
    <link rel="stylesheet" href="../server/css/homepage.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
</head>
<body>
<div class="bgimage">
{{template "header"}}
<form>
    <h3>Login Here</h3>

    <label for="username">Username</label>
    <input type="text" placeholder="Email or Phone" id="username">

    <label for="password">Password</label>
    <input type="password" placeholder="Password" id="password">


    <a href="https://www.rudn.ru/" target="_blank"><button >Log In</button></a>
</form>
</div>
</div>
</body>
</html>
