<!DOCTYPE html>
<html lang="en">
<head>
    <title>Таблица преподавателей</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="../css/allTeachersTable.css">
    <link rel="stylesheet" href="../css/homepage.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
</head>
<body>
<div class="bgimage">
    {{template "header"}}
    <div class="table_container">
        <table class="table_dark">
            <thead>
            <tr>
                <th>ID</th>
                <th>Имя</th>
                <th>Кафедра</th>
            </tr>
            </thead>
            <tbody>
            {{ range .data }}
                <tr>
                    <td>{{.ID}}</td>
                    <td><a href="{{template "address"}}teachers?name={{.FullName}}">{{.FullName}}</a></td>
                    <td>{{.Department}}</td>
                </tr>
            {{ end }}
            </tbody>

        </table>
    </div>
</div>


</body>
</html>